$faded-black : rgba($color: black, $alpha: 0.5);

* {
    // background-image: url('./imgs/pexels-eberhard-grossgasteiger-1624496.jpg');
    // background-size: 100vh;
    // background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
}

// .backgroundImg {
//     background-image: url('./imgs/pexels-eberhard-grossgasteiger-1624496.jpg');
//     background-size: 1000px;
//     background-repeat: no-repeat;
// }


// body {
//     // color: white;
// }


.blog {
    background: $faded-black;
    height: 100vh;

    h1, h2 {
        background: $faded-black;
    }
}


// .logoHead {
//     font-size: ;

// }



#aboutMe {
    img {
        max-width: 10%;
        height: 10%;
    }
}

.logoHead {
    margin-bottom: 50px;
}


#welcome {
    margin-bottom: 50px;
}


h3 {
    color: white;
    background-color: rgba($color: #2d9bf5, $alpha: 1.0);
    padding:5px 5px;
    width: 30%;
}

// div {
//     background-color: black;
//     height: 200px;
//     width: 200px;
// }

.placeholders {
    width: 30%;
    border-radius: 15px;
    
}


.ports {
    // display: grid;
    // grid-template-columns: 30%;
    // grid-template-rows: 25%;

    display: grid; 
    grid-template-columns: 1fr 3fr 1fr 3fr 1fr; 
    grid-template-rows: 1fr 1fr; 


    .projects1 {
        grid-column-start: 1;
        grid-column-end: span 2;
    }

    .projects2 {
        grid-column-start: 3;
        grid-column-end: span 2;
    }

    .projects3 {
        grid-column-start: 1;
        grid-column-end: span 2;
    }

    .projects4 {
        grid-column-start: 3;
        grid-column-end: span 2;
    }

    img {
        max-width: 30vw;
    border-radius: 15px;
    // box-shadow: 10px 5px 5px red;
    }
}

.home-images {
    img {
    // box-shadow: 5px 5px 5px black;
    border: 1px black ridge;

    }
}